<div class="container">
  <div class="row">
    <div class="col-md-3 data-card">
      <app-data-list-card title="Programming Languages" listItemsCsv=" Typescript, Javascript"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="IDEs and Editors" listItemsCsv="Visual Studio Code, Notepad++"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="Version Control Tool" listItemsCsv="GIT"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="Frontend Development" listItemsCsv="Angular 12, HTML ,CSS,BOOTSTRAP"></app-data-list-card>
    </div>
  </div>

</div>
