<div id="introduction-wrapper">
  <div id="my-profile-details-card">
<app-profile-card
profileUrl = "/assets/New-folder/portfolio-img.jpg"
fullName = "Sanjay Kumar Behera"
introduction = "Hey, I am Sanjay Kumar Behera. I am from Odisha. I am a Frontend Developer, my main area of focus is web designing and development. I love North Indian food. I am always ready to learn new ideas and new technology."
moreCsv ="Web Development using HTML CSS JAVASCRIPT,Good knowledge on version controling tool like GIT,Single Page Application Development using Angular"
visitLinkName="Read More"
visitLink="/skillset"
></app-profile-card>
</div>
</div>
